#Range Function

In [ ]:
for a in range(5):          #Prints a specific range
  print(a)
for b in range(0,10,2):     #Prints a specific range by jumping specific locations in Increment
  print(b)
for c in range(10, 1, -2):  #Prints a specific range by jumping specific locations in Decremet
  print(c)

0
1
2
3
4
0
2
4
6
8
10
8
6
4
2

#Ennumerate Function
######Tracks Number of Iteration without incrementing the iteration

In [ ]:
a = 0
for i,a in enumerate("Hello Prutha"):
  print(i,a)

0 H
1 e
2 l
3 l
4 o
5
6 P
7 r
8 u
9 t
10 h
11 a

#Zip
######Creating a tuple by zipping 2 lists

In [ ]:
a = ["Name", "Age", "Hobby"]
b = ["Prutha", "22", "Coding"]
list(zip(a,b))

[('Name', 'Prutha'), ('Age', '22'), ('Hobby', 'Coding')]